<% if alert %>
  $('.flash').html('<p class="alert"><%= alert %></p>');
<% end %>

<% if notice %>
  $('.flash').html('<p class="notice"><%= notice %></p>');
<% end %>

$('.answer-errors').html('<%= render 'shared/errors', resource: @answer %>');
